The purpose of this notebook is to show how to load and use a Hugging Face dataset. No analyses from Hugging Face! Just
the dataset.

In [7]:
# Install any packages you have not yet installed. Again, you can run the next code chunk as a way of checking whether you have 
# them installed. You will get an error saying the package is not found if it has not been installed. Remove the # from the beginning
# of any line with a package you need to install.
# %pip install datasets
# Note: You should not need to install pandas as my installation of datasets also resulted in pandas being installed.
# Keeping this here just in case...
# %pip install pandas

In [3]:
# Load the needed packages
# Code for this notebook informed by: 
# https://github.com/msetzu/Univariate-vs-multivariate-decision-trees/blob/master/notebooks/Benchmark%20datasets.ipynb

from datasets import load_dataset
import pandas as pd

In [4]:
# The dataset we're using is here on Hugging Face: 
# Let's load the dataset into our Python session

# Note that the card in Hugging Face for this dataset gave different code to load it. I like working with Pandas dataframes
# so am giving the code below so that people can work in Pandas.
student_performance_data =  load_dataset("mstz/student_performance", "math")["train"].to_pandas()

In [5]:
# Let's look at what's in there. You can also look at what's in there by viewing the data in Hugging Face and clicking on Viewer
# https://huggingface.co/datasets/mstz/student_performance
student_performance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   is_male                         1000 non-null   bool
 1   ethnicity                       1000 non-null   object
 2   parental_level_of_education     1000 non-null   int8
 3   has_standard_lunch              1000 non-null   bool
 4   has_completed_preparation_test  1000 non-null   bool
 5   reading_score                   1000 non-null   int64
 6   writing_score                   1000 non-null   int64
 7   has_passed_math_exam            1000 non-null   int64
dtypes: bool(3), int64(3), int8(1), object(1)
memory usage: 35.3+ KB

In [6]:
# Get descriptive statistics for the dataset
student_performance_data.describe()

,parental_level_of_education,reading_score,writing_score,has_passed_math_exam
count,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.298000,70.382000,69.140000,0.696000
std,1.754501,14.107413,15.025917,0.460213
min,0.000000,25.000000,15.000000,0.000000
25%,1.000000,61.000000,59.000000,0.000000
50%,2.000000,70.500000,70.000000,1.000000
75%,4.000000,80.000000,80.000000,1.000000
max,5.000000,100.000000,100.000000,1.000000